:root {
  --color-bg: #ffffff;
  --color-surface: #fdfdfd;
  --color-text: #0b0f19;
  --color-text-muted: #4b5563;
  --color-primary: #ff4d80;
  --color-quantum: #b45bfa;
  --color-lavender: #e0e7ff;
  --color-border: #e2e8f0;
}

[data-theme='dark'] {
  --color-bg: #030305; 
  --color-surface: #0a0a0f;
  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-primary: #ff4d80; 
  --color-quantum: #b45bfa; 
  --color-lavender: #a78bfa;
  --color-border: #0a0a0f; /* Same as surface to effectively hide it without breaking tailwind opacity */
}
